<%- include ("templates/encabezado") %>

<h1>Productos activos</h1>
<h4>Nombre: <%= nombre %> </h4>
<h4>Descripcion: <%= descripcion %> </h4>
<h4>Precio: <%= precio %> </h4>

<button><a href="/productos"> Ver Productos</a></button>

<%- include ("templates/pie") %>